{
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 10,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended"
  ],

  "rules": {
    "semi": [2, "never"],
    "no-extra-semi": 1,
    "no-inner-declarations": 2,
    "no-undef": 2,
    "no-unused-vars": "warn",
    "comma-dangle": [
      "error",
      "never"
    ]
  }
}
