version: "3"

services:

  redis:
    image: redis
    container_name: redis
    restart: on-failure
    healthcheck:
      test: /bin/bash /docker-healthcheck
      interval: 10s
      timeout: 3s
      retries: 3
    volumes:
      - ./docker/redis/docker-healthcheck:/docker-healthcheck

  pg-admin:
    depends_on:
      - "postgres"
    image: dpage/pgadmin4:5.0
    container_name: pg-admin
    restart: on-failure
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: changeme
    ports:
      - 3001:80

  postgres:
    image: postgres
    container_name: postgres
    restart: on-failure
    healthcheck:
      test: pg_isready -U postgres
      interval: 10s
      timeout: 3s
      retries: 3
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: changeme
    volumes:
      - ./docker/postgres/init:/docker-entrypoint-initdb.d:ro
      # - ./volumes/postgres/data:/var/lib/postgresql/data

  node-server:
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      pdf-renderer:
        condition: service_started
    build:
      context: ./
      dockerfile: ./docker/node-server/Dockerfile
    container_name: node-server
    environment:
      REDIS_HOST: redis
      DEBUG: invoice-mailer:*
      PORT: 80
      PGHOST: postgres
      PGPORT: 5432
      PGUSER: postgres
      PGPASSWORD: changeme
    volumes:
      # Mount sources for development, to avoid container recreation
      - ./app.js:/usr/webapp/app.js
      - ./api:/usr/webapp/api
      - ./mail-sender:/usr/webapp/mail-sender
      - ./config:/usr/webapp/config
      - ./bin:/usr/webapp/bin
      - ./package.json:/usr/webapp/package.json:ro
      - ./docker/node-server/entrypoint.sh:/usr/webapp/entrypoint.sh
    ports:
      - 3000:80

  pdf-renderer:
    build:
      context: ./
      dockerfile: ./docker/pdf-renderer/Dockerfile
    container_name: pdf-renderer
    environment:
      REDIS_HOST: redis
    volumes:
      # Mount sources for development, to avoid container recreation
      - ./pdf-renderer:/usr/webapp/pdf-renderer
      - ./config:/usr/webapp/config
      - ./pdf-renderer/package.json:/usr/webapp/package.json:ro
      - ./docker/pdf-renderer/entrypoint.sh:/usr/webapp/entrypoint.sh

  swagger-ui:
    depends_on:
      - "node-server"
    image: swaggerapi/swagger-ui
    container_name: swagger-ui
    restart: on-failure
    environment:
      SWAGGER_JSON: /swagger.json
    ports:
      - 3002:8080
    volumes:
      - ./api/swagger/swagger.json:/swagger.json:rw
